.sidenav-link-active > div > svg {
  color: #31ca80 !important;
}

.sidenav-link-active > div {
  vertical-align: middle;
}

.sidenav-link-active{
  color: white !important;
  border-left: #31ca80 solid 3px;
  padding: 10px 0 10px 9px !important,
}

.nav-sidebar-content a {
  color: #858697;
}
