.login-page {
  background-color: #36a9ff;
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;

  background-repeat: no-repeat;
  background-size: 100%; 
}

.login-footer {
  text-align: center;
}

.card.margin-top {
  margin-top: 10%;
}

.signup-button {
  margin-top: 15px;
  padding: 10px 35px !important;
}